name: CI

on:
  push:
    branches:
      - master
      
jobs:
  integracao:
    name: Job de Integracao
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          
      - name: Build with Maven
        run: mvn clean install
        
      - name: Log in to DockerHub
        run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build Container Image
        run: mvn jib:buildTar

      - name: Push Image to DockerHub
        run: mvn jib:build
